* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #FAFAF8;
}

button:hover {
    outline: 4px solid #80D8FF;
}

button:focus {
    outline: 4px solid #80D8FF;
}
  
button:active {
    transform: translateY(2px) scale(0.98);
    outline: 4px solid #80D8FF;
}

/* Header */
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;

    height: 111px;
    background-color: white;

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10),
     0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.nav-icon {
    width: 43px;
    height: 52px;
    margin: 4px 0px;
}

.nav-title {
    font-weight: 400;
    font-size: 32px;

    color: rgba(20, 20, 19, 1);
}

.page {
    width: 100%;
}

/* Main Form */
.add-ingredient-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;

    padding: 67px 33px 37px;
}

.ingredient-input {
    width: 399px;
    height: 38px;

    padding: 9px 13px;
    margin: 5px 0;

    border-radius: 6px;
    border: 1px solid rgba(209, 213, 219, 1);

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

    flex-grow: 1;
    min-width: 150px;
    max-width: 399px;
}

.ingredient-input:focus {
    outline: 4px solid #80D8FF;
}

.add-ingredient-button {
    width: 183px;
    height: 38px;

    background-color: rgba(20, 20, 19, 1);
    color: rgba(250, 250, 248, 1);

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: 0;
    
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.add-ingredient-button::before {
    content: "+";
    margin-right: 5px;
}

/* Ingredient list  */
.ingredients-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 33px;
    justify-content: flex-start;
}

.ingredients-list-container {
    width: 100%;
}

.ingredients-list-heading {
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    color: rgba(20, 20, 19, 1);
}

.ingredients-list {
    padding: 20px;
    margin: 0;
}

.ingredients-list > li {
    line-height: 35px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(71, 84, 103, 1);
    margin-bottom: 10px;
}

/* Get recipe section */
.get-recipe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    background-color: rgba(240, 239, 235, 1);
    border-radius: 6px;
}

.get-recipe-heading {
    font-weight: 500;
    font-size: 18px;
    color: rgba(20, 20, 19, 1);
    margin: 10px;
    padding: 10px;
}

.get-recipe-explaination {
    font-weight: 400;
    font-size: 14px;
    color: rgba(107, 114, 128, 1);
    margin: 10px;
    padding: 10px;
}

.get-recipe-button {
    background-color: rgba(209, 117, 87, 1);
    color: rgba(250, 250, 248, 1);
    width: 115px;
    height: 38px;
    border: 0;
    border-radius: 6px;
    margin: 20px;

    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

/* Generated recipe */
.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 33px;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}

/* Animation of the 3 dots */
.loading-dots {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: #475467;
}

.loading-dots span {
    animation: blink 1.4s infinite;
}

.loading-dots span:nth-child(1) { animation-delay: 0s; }
.loading-dots span:nth-child(2) { animation-delay: 0.2s; }
.loading-dots span:nth-child(3) { animation-delay: 0.4s; }

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
